<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/show.css"> 
<div class="row">
    <div class="col d-flex justify-content-center">
        <div id="card" class="card my-4 shadow-lg" style="width: 50%;">
            <div class="card-body">
              <h5 class="card-title text-center mb-0 pt-3"><%= game.title %></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">By: <%= game.developer %></li>
              <li class="list-group-item">Release date: <%= game.release %></li>
              <li class="list-group-item">Platform: <%= game.platform %></li>
              <li class="list-group-item">Genre: <%= game.genre %></li>
              <li class="list-group-item">Rating: <%= game.rating %> / 10</li>
            </ul>
            <div class="card-body">
              <p class="card-text"><%= game.review %></p>
              <div class=" d-inline-flex">
                <a id="btn" class="btn btn-lightshadow-md me-2 px-4 shadow" href="/games">Back to Index</a>
                <a id="edit" class="btn btn-lightshadow-md mx-2 px-4 shadow" href="/games/<%= game._id %>/edit">Edit</a>
                <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                    <button id="delete" class="btn btn-lightshadow-md ms-2 px-4 shadow">Delete</button>
                  </form>
              </div>
            </div>
        </div>
    </div>
</div>
