<% layout('layout/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/home.css"> 
<main>
    <h1 id="titletext" class="text-center mb-4 pt-2">
        THE GAME CATALOGUE
    </h1>
    <section class="container">
        <div class="row my-4">
            <div class="col d-flex justify-content-center">
                <div>
                    <button class="btn btn-lightshadow-md px-4 shadow dropdown-toggle mx-2" type="button" id="primbtn" data-bs-toggle="dropdown" aria-expanded="false">
                        Platform
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/games">All</a></li>
                          <% for(let platform of platforms){ %> 
                              <li><a class="dropdown-item" href="/games?platform=<%= platform %>"><%= platform %></a></li>
                          <% } %> 
                    </ul>
                </div>
                <div>
                    <button class="btn btn-lightshadow-md px-4 shadow dropdown-toggle mx-2" type="button" id="primbtn" data-bs-toggle="dropdown" aria-expanded="false">
                        Genre
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/games">All</a></li>
                          <% for(let genre of genres){ %> 
                              <li><a class="dropdown-item" href="/games?genre=<%= genre %>"><%= genre %></a></li>
                          <% } %> 
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto d-flex justify-content-center">
                <a id="primbtn" href="/games/new" class="btn btn-lightshadow-md px-4 shadow">Create Entry</a>
            </div>
        </div>

        <div class="row mt-4">
            <% for(let game of games){ %>
            <div class="col d-flex justify-content-center">
                <ul class="me-4">
                        <div id="homecard" class="card my-4 text-center shadow-lg" style="width: 22rem;">
                            <div class="card-header">
                                <h5 class="gametitle mb-0 pt-3"><%= game.title %></h5>
                            </div>
                            <div class="card-body"> 
                              <p class="info mb-0"><%= game.developer %></p>
                              <p class="info">Rating: <%= game.rating  %> / 10</p>
                              <a id="secbtn" href="/games/<%= game._id %>" class="btn btn-lightshadow-md px-4 shadow">More Info</a>
                            </div>
                        </div>
                </ul>
            </div>
            <% } %>  
        </div>
    </section>
</main>


